@media screen and (max-width: 1140px) {
  .container {
    width: 992px;
  }
  .aboutUs img:nth-child(1) {
    width: 432px;
    height: 400px;
  }
  .menu .header {
    margin: 13px 0;
  }
  .menu .menuContainer {
    margin-top: 50px;
  }
  .menu .card {
    margin: 40px 0;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 768px;
  }
  .cart {
    width: 768px;
    margin-left: -384px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .cart .leftPart {
    width: 100%;
    height: 70%;
  }
  .cart .leftPart .itemPlace {
    width: 100%;
    height: 90%;
  }
  .cart .rightPart {
    width: 100%;
    height: 30%;
  }
  .homePage .rightImage {
    transform-origin: right;
    transform: scale(0.8);
  }
  .aboutUs .container {
    flex-direction: column;
  }
  .aboutUs section {
    margin-top: 20px;
    flex-direction: column;
    align-items: center !important;
  }
  .aboutUs section p, .aboutUs section h2 {
    text-align: center;
  }
  .aboutUs .blot {
    transform-origin: left;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 481px;
  }
  .cart {
    width: 540px;
    margin-left: -270px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .cart .leftPart {
    width: 100%;
    height: 80%;
  }
  .cart .leftPart .itemPlace {
    width: 100%;
    height: 80%;
  }
  .cart .rightPart {
    width: 100%;
    height: 20%;
  }
  header ul {
    gap: 0px;
    width: 44px;
  }
  header ul li {
    display: none;
  }
  header .burger {
    display: flex;
  }
  .homePage .rightImage {
    display: none;
  }
  .homePage section {
    width: 100%;
    align-items: center;
  }
  .homePage section h2, .homePage section p {
    text-align: center;
  }
  .aboutUs section {
    width: 480px;
  }
  .features .rows section {
    margin-top: 40px;
  }
  .menu .menuContainer {
    flex-direction: column;
  }
  .appDownload section {
    gap: 20px;
    align-items: center;
  }
  .appDownload section h2, .appDownload section p {
    text-align: center;
  }
  .appDownload .phone-image {
    display: none;
  }
  .testimonial .container {
    padding: 100px 0 120px 0;
  }
  .testimonial .row .leftPart, .testimonial .row .rightPart {
    display: none;
  }
  .contact .input-wrapper {
    width: 100%;
  }
  .contact .input-wrapper input {
    width: 80%;
  }
  .contact .input-wrapper button {
    width: 20%;
  }
  footer .container {
    padding: 20px 0 40px 0;
    align-items: center;
    justify-content: center;
  }
  footer section {
    width: 240px !important;
    align-items: center !important;
  }
  footer section ul {
    align-items: center !important;
  }
  footer section:nth-child(1) {
    justify-content: flex-start;
  }
  footer section:nth-child(2) {
    margin-top: 60px;
  }
}
@media screen and (max-width: 540px) {
  .cart {
    width: 455px;
    margin-left: -227.5px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .cart .leftPart {
    width: 100%;
    height: 80%;
  }
  .cart .leftPart .itemPlace {
    width: 100%;
    height: 80%;
  }
  .cart .leftPart .itemPlace .item {
    height: 150px !important;
  }
  .cart .leftPart .itemPlace .item .leftPart {
    height: 100%;
  }
  .cart .leftPart .itemPlace .item .leftPart img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  .cart .leftPart .itemPlace .item .rightPart {
    height: 100%;
  }
  .cart .leftPart .itemPlace .item .rightPart .itemName {
    font-size: 18px;
  }
  .cart .leftPart .itemPlace .item .rightPart p {
    font-size: 12px;
  }
  .cart .leftPart .itemPlace .item .rightPart img {
    height: 20px;
    width: 20px;
  }
  .cart .leftPart .itemPlace .item .rightPart .itemPrice {
    font-size: 18px;
  }
  .cart .rightPart {
    width: 100%;
    height: 20%;
  }
}
@media screen and (max-width: 455px) {
  .cart {
    width: 410px;
    margin-left: -205px;
  }
  .cart .leftPart .itemPlace .item {
    height: 150px !important;
  }
  .cart .leftPart .itemPlace .item .leftPart {
    height: 100%;
    width: 40%;
  }
  .cart .leftPart .itemPlace .item .leftPart img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
  .cart .leftPart .itemPlace .item .rightPart {
    width: 60%;
    height: 100%;
  }
  .cart .rightPart {
    width: 100%;
    height: 20%;
  }
}
@media screen and (max-width: 410px) {
  .cart {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
  }
  .cart .leftPart .itemPlace .item {
    height: 150px !important;
  }
  .cart .leftPart .itemPlace .item .leftPart {
    height: 100%;
    width: 40%;
  }
  .cart .leftPart .itemPlace .item .leftPart img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
  .cart .leftPart .itemPlace .item .rightPart {
    width: 60%;
    height: 100%;
  }
  .cart .rightPart {
    width: 100%;
    height: 20%;
  }
}
@media screen and (max-width: 380px) {
  .cart {
    width: 100%;
  }
  .cart .leftPart .itemPlace .item {
    height: 150px !important;
  }
  .cart .leftPart .itemPlace .item .leftPart {
    height: 100%;
    width: 40%;
  }
  .cart .leftPart .itemPlace .item .leftPart img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }
  .cart .leftPart .itemPlace .item .rightPart p {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .aboutUs img:nth-child(1) {
    width: 305px;
    height: 283px;
  }
  .aboutUs .blot {
    transform: rotate(-50deg) translateX(-150px) translateY(-250px);
  }
  .aboutUs section {
    width: 100% !important;
    min-height: 380px !important;
  }
  .aboutUs section button {
    min-height: 42px;
  }
  .testimonial h2 {
    text-align: center;
  }
  footer section {
    margin: 20px 0;
    gap: 10px;
  }
  footer .hrLine {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .homePage section div {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .homePage section div button {
    width: 100% !important;
  }
  .menu .header {
    text-align: center;
  }
  .menu .menuContainer {
    flex-direction: row;
  }
  .menu .menuContainer .card {
    margin: 10px 0;
    transform-origin: center;
    transform: scale(0.85);
  }
  .appDownload {
    margin-top: 0;
    height: 618px;
  }
  .appDownload section {
    min-height: 475px !important;
  }
  .appDownload section div {
    flex-direction: column;
    gap: 10px;
  }
  .testimonial .row .centerPart div {
    margin: 10px 0;
  }
  .contact .input-wrapper {
    height: 55px;
  }
}/*# sourceMappingURL=mediaQueries.css.map */